In [2]:
# supress warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd

trainData = pd.read_csv('./train.csv', header=None)
testData = pd.read_csv('./test.csv', header=None)

# Remove first NaN column, it seems to serve no purpose
trainData = trainData.iloc[1:, 1:]
testData = testData.iloc[1:, 1:]

In [11]:
columns = ['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class', 'Flight Distance', 'Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 'Baggage handling', 'Check-in service', 'Inflight service', 'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'satisfaction']
trainData.columns = columns
testData.columns = columns

trainData.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Check-in service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
1,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
2,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
3,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
4,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
5,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [5]:
# make the numeric columns numeric :)
# for col in trainData.columns:
#     if str.isnumeric(trainData[col].iloc[0]):
#         pd.to_numeric(trainData[col])

In [6]:
from pandas.api.types import is_numeric_dtype

for col in trainData.columns:
    if str.isnumeric(trainData[col].iloc[0]) and col != "id":
        item = pd.to_numeric(trainData[col])
        print('%s:' % (col))
        print('\t Mean = %.2f' % (item.mean()))
        print('\t Standard deviation = %.2f' % (item.std()))
        print('\t Minimum = %.2f' % (item.min()))
        print('\t Maximum = %.2f' % (item.max()))
        print()

Age:
	 Mean = 39.38
	 Standard deviation = 15.11
	 Minimum = 7.00
	 Maximum = 85.00

Flight Distance:
	 Mean = 1189.45
	 Standard deviation = 997.15
	 Minimum = 31.00
	 Maximum = 4983.00

Inflight wifi service:
	 Mean = 2.73
	 Standard deviation = 1.33
	 Minimum = 0.00
	 Maximum = 5.00

Departure/Arrival time convenient:
	 Mean = 3.06
	 Standard deviation = 1.53
	 Minimum = 0.00
	 Maximum = 5.00

Ease of Online booking:
	 Mean = 2.76
	 Standard deviation = 1.40
	 Minimum = 0.00
	 Maximum = 5.00

Gate location:
	 Mean = 2.98
	 Standard deviation = 1.28
	 Minimum = 0.00
	 Maximum = 5.00

Food and drink:
	 Mean = 3.20
	 Standard deviation = 1.33
	 Minimum = 0.00
	 Maximum = 5.00

Online boarding:
	 Mean = 3.25
	 Standard deviation = 1.35
	 Minimum = 0.00
	 Maximum = 5.00

Seat comfort:
	 Mean = 3.44
	 Standard deviation = 1.32
	 Minimum = 0.00
	 Maximum = 5.00

Inflight entertainment:
	 Mean = 3.36
	 Standard deviation = 1.33
	 Minimum = 0.00
	 Maximum = 5.00

On-board service:
	 Mean = 3.38
	 Standard deviation = 1.29
	 Minimum = 0.00
	 Maximum = 5.00

Leg room service:
	 Mean = 3.35
	 Standard deviation = 1.32
	 Minimum = 0.00
	 Maximum = 5.00

Baggage handling:
	 Mean = 3.63
	 Standard deviation = 1.18
	 Minimum = 1.00
	 Maximum = 5.00

Check-in service:
	 Mean = 3.30
	 Standard deviation = 1.27
	 Minimum = 0.00
	 Maximum = 5.00

Inflight service:
	 Mean = 3.64
	 Standard deviation = 1.18
	 Minimum = 0.00
	 Maximum = 5.00

Cleanliness:
	 Mean = 3.29
	 Standard deviation = 1.31
	 Minimum = 0.00
	 Maximum = 5.00

Departure Delay in Minutes:
	 Mean = 14.82
	 Standard deviation = 38.23
	 Minimum = 0.00
	 Maximum = 1592.00

In [47]:
# Data exploration
print("Dimensions: ", trainData.shape)

print(f"\nMissing data:\n{trainData.isnull().sum()}")

# testData.isnull().sum()

print(f"\n{trainData['satisfaction'].value_counts()}")

Dimensions:  (103904, 24)

Missing data:
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Check-in service                       0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

neutral or dissatisfied    58879
satisfied                  45025
Name: satisfaction, dtype: int64

In [51]:
for col in columns:
    if(col != "id"):
        print(trainData[col].value_counts())  
        
# Catagorical data: gender, customer type, type of travel, class

Female    52727
Male      51177
Name: Gender, dtype: int64
Loyal Customer       84923
disloyal Customer    18981
Name: Customer Type, dtype: int64
39    2075
25    1885
40    1729
44    1709
42    1709
      ...
76      14
79      12
85      12
78       6
85       5
Name: Age, Length: 150, dtype: int64
Business travel    71655
Personal Travel    32249
Name: Type of Travel, dtype: int64
Business    49665
Eco         46745
Eco Plus     7494
Name: Class, dtype: int64
337     446
404     278
594     274
862     259
447     250
       ...
2944      1
1155      1
3370      1
1289      1
2505      1
Name: Flight Distance, Length: 7199, dtype: int64
3    17856
2    17633
4    13500
1    12206
2     8197
3     8012
5     7819
4     6294
1     5634
5     3650
0     2123
0      980
Name: Inflight wifi service, dtype: int64
4    17520
5    15298
3    12405
2    11752
1    10559
4     8026
5     7105
3     5561
2     5439
1     4939
0     3603
0     1697
Name: Departure/Arrival time convenient, dtype: int64
3    16853
2    16335
4    13411
1    11905
5     9520
2     7686
3     7596
4     6160
1     5620
5     4331
0     3113
0     1374
Name: Ease of Online booking, dtype: int64
3    19759
4    16681
2    13341
1    11803
5     9552
3     8818
4     7745
2     6118
1     5759
5     4327
0        1
Name: Gate location, dtype: int64
4    16580
3    15372
5    15255
2    15153
1     8697
4     7779
5     7058
3     6928
2     6835
1     4140
0       80
0       27
Name: Food and drink, dtype: int64
4    20938
3    15155
5    14254
2    11852
4     9824
1     7260
3     6649
5     6459
2     5653
1     3432
0     1678
0      750
Name: Online boarding, dtype: int64
4    21608
5    18200
3    12874
2    10237
4    10157
5     8270
1     8218
3     5822
2     4660
1     3857
0        1
Name: Seat comfort, dtype: int64
4    20003
5    17350
3    13090
2    12160
4     9420
1     8524
5     7863
3     6049
2     5477
1     3954
0       10
0        4
Name: Inflight entertainment, dtype: int64
4    21074
5    16245
3    15570
2    10089
4     9793
1     8157
5     7403
3     7263
2     4592
1     3715
0        2
0        1
Name: On-board service, dtype: int64
4    19780
5    16916
3    13646
2    13341
4     9009
5     7751
1     7116
3     6452
2     6184
1     3237
0      338
0      134
Name: Leg room service, dtype: int64
4    25542
5    18600
3    14186
4    11841
5     8531
2     7822
3     6446
1     4987
2     3699
1     2250
Name: Baggage handling, dtype: int64
4    19891
3    19428
5    14088
4     9164
3     9018
1     8902
2     8828
5     6531
2     4065
1     3988
0        1
Name: Check-in service, dtype: int64
4    25957
5    18554
3    13956
4    11988
5     8562
2     7786
3     6343
1     4882
2     3671
1     2202
0        2
0        1
Name: Inflight service, dtype: int64
4    18538
3    16961
5    15505
2    11076
1     9049
4     8641
3     7613
5     7184
2     5056
1     4269
0        8
0        4
Name: Cleanliness, dtype: int64
0      40260
0      18408
1       2035
2       1514
3       1369
       ...
531        1
570        1
579        1
595        1
429        1
Name: Departure Delay in Minutes, Length: 747, dtype: int64
0.0      39858
0.0      18301
1.0       1529
2.0       1404
3.0       1306
         ...
624.0        1
459.0        1
705.0        1
717.0        1
432.0        1
Name: Arrival Delay in Minutes, Length: 765, dtype: int64
neutral or dissatisfied    58879
satisfied                  45025
Name: satisfaction, dtype: int64

In [58]:
x_train = trainData.drop(['satisfaction', 'id'], axis=1)
y_train = trainData['satisfaction']

x_train.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Check-in service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
1,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,5,4,3,4,4,5,5,25,18.0
2,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,1,5,3,1,4,1,1,6.0
3,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,5,4,3,4,4,4,5,0,0.0
4,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,2,5,3,1,4,2,11,9.0
5,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,5,3,3,4,4,3,3,3,0,0.0

In [61]:
import category_encoders as ce
# columns = ['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class', 'Flight Distance', 'Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 'Baggage handling', 'Check-in service', 'Inflight service', 'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'satisfaction']
encoder = ce.OrdinalEncoder(cols=['Gender', 'Customer Type', 'Type of Travel', 'Class', 'Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 'Baggage handling', 'Check-in service', 'Inflight service', 'Cleanliness', 'Departure Delay in Minutes'])
x_train = encoder.fit_transform(x_train)